/* GENERAL */
body {
    background-color: #fff;
    color: #444;
}

/* HEADER */
.custom-header {
    min-height: 60px;
}

.nav-link {
    font-size: 1rem;
}

.navbar-brand {
    font-size: 1.25rem;
}

/* TITLE + CAROUSEL */
#rotatingText {
    height: 50px;
}

.changing-line {
    font-size: 1.25rem;
    transition: opacity .4s ease;
}

/* OPTIONS SIDEBAR */
#sidebarOptions button,
#mobileSidebar button {
    border-radius: 6px;
}

/* MOBILE text centering */
@media (max-width: 768px) {
    .container p {
        margin-left: auto;
        margin-right: auto;
    }
}
